<a href="https://colab.research.google.com/github/AG-2002/Customer-Segmentation-and-Prediction-of-Term-Deposit-Subscriptions-in-Bank-Marketing/blob/main/Bank_Data(Model_fitting(SVM%2CKNN)).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1=pd.read_csv('bank-additional-full.csv')
df1

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [3]:
df1[df1.duplicated(keep=False)]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
1265,39,blue-collar,married,basic.6y,no,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
1266,39,blue-collar,married,basic.6y,no,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
12260,36,retired,married,unknown,no,no,no,telephone,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.966,5228.1,no
12261,36,retired,married,unknown,no,no,no,telephone,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.966,5228.1,no
14155,27,technician,single,professional.course,no,no,no,cellular,jul,mon,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
14234,27,technician,single,professional.course,no,no,no,cellular,jul,mon,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
16819,47,technician,divorced,high.school,no,yes,no,cellular,jul,thu,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
16956,47,technician,divorced,high.school,no,yes,no,cellular,jul,thu,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
18464,32,technician,single,professional.course,no,yes,no,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
18465,32,technician,single,professional.course,no,yes,no,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
20072,55,services,married,high.school,unknown,no,no,cellular,aug,mon,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
20216,55,services,married,high.school,unknown,no,no,cellular,aug,mon,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
20531,41,technician,married,professional.course,no,yes,no,cellular,aug,tue,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
20534,41,technician,married,professional.course,no,yes,no,cellular,aug,tue,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
25183,39,admin.,married,university.degree,no,no,no,cellular,nov,tue,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,no
25217,39,admin.,married,university.degree,no,no,no,cellular,nov,tue,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,no
28476,24,services,single,high.school,no,yes,no,cellular,apr,tue,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.423,5099.1,no
28477,24,services,single,high.school,no,yes,no,cellular,apr,tue,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.423,5099.1,no
32505,35,admin.,married,university.degree,no,yes,no,cellular,may,fri,...,4,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
32516,35,admin.,married,university.degree,no,yes,no,cellular,may,fri,...,4,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
36950,45,admin.,married,university.degree,no,no,no,cellular,jul,thu,...,1,999,0,nonexistent,-2.9,92.469,-33.6,1.072,5076.2,yes
36951,45,admin.,married,university.degree,no,no,no,cellular,jul,thu,...,1,999,0,nonexistent,-2.9,92.469,-33.6,1.072,5076.2,yes
38255,71,retired,single,university.degree,no,no,no,telephone,oct,tue,...,1,999,0,nonexistent,-3.4,92.431,-26.9,0.742,5017.5,no
38281,71,retired,single,university.degree,no,no,no,telephone,oct,tue,...,1,999,0,nonexistent,-3.4,92.431,-26.9,0.742,5017.5,no

In [4]:
df1=df1.drop_duplicates()

In [5]:
month_to_number = {
    'jan': 1,
    'feb': 2,
    'mar': 3,
    'apr': 4,
    'may': 5,
    'jun': 6,
    'jul': 7,
    'aug': 8,
    'sep': 9,
    'oct': 10,
    'nov': 11,
    'dec': 12
}

# Map month names to numbers
df1['month'] = df1['month'].map(month_to_number)

In [6]:
day_to_number = {
    'mon': 1,
    'tue': 2,
    'wed': 3,
    'thu': 4,
    'fri': 5,
    'sat': 6,
    'sun': 7
}

# Map month names to numbers
df1['day_of_week'] = df1['day_of_week'].map(day_to_number)

In [7]:
label=LabelEncoder()
df1['y']=label.fit_transform(df1['y'])
label_dict = dict(zip(label.classes_, label.transform(label.classes_)))
print(label_dict)

{'no': np.int64(0), 'yes': np.int64(1)}

In [8]:
def convert_pdays(value):
    if value == 999:
        return 'Never Contacted'
    elif value <= 7:
        return 'recently contacted'
    elif 8 <= value <= 30:
        return 'sometimes ago'
    else:
        return 'long ago'

df1['pdays_new'] = df1['pdays'].apply(convert_pdays)

In [9]:
df1.drop('pdays', axis=1, inplace=True)

In [10]:
# Separate features and target
target = df1["y"]
features = df1.drop("y", axis=1)

# Identify categorical and numerical columns
categorical_cols = features.select_dtypes(include=["object"]).columns
numerical_cols = features.drop(columns=categorical_cols)

# One-hot encode categorical columns and convert to int (0/1)
encoded_cats = pd.get_dummies(features[categorical_cols], drop_first=True).astype(int)

# Combine numerical + encoded
X_encoded = pd.concat([numerical_cols, encoded_cats], axis=1)

# add target back
df_final = pd.concat([X_encoded, target], axis=1)
print(df_final.head())

   age  month  day_of_week  duration  campaign  previous  emp.var.rate  \
0   56      5            1       261         1         0           1.1
1   57      5            1       149         1         0           1.1
2   37      5            1       226         1         0           1.1
3   40      5            1       151         1         0           1.1
4   56      5            1       307         1         0           1.1

   cons.price.idx  cons.conf.idx  euribor3m  ...  housing_unknown  \
0          93.994          -36.4      4.857  ...                0
1          93.994          -36.4      4.857  ...                0
2          93.994          -36.4      4.857  ...                0
3          93.994          -36.4      4.857  ...                0
4          93.994          -36.4      4.857  ...                0

   housing_yes  loan_unknown  loan_yes  contact_telephone  \
0            0             0         0                  1
1            0             0         0                  1
2            1             0         0                  1
3            0             0         0                  1
4            0             0         1                  1

   poutcome_nonexistent  poutcome_success  pdays_new_recently contacted  \
0                     1                 0                             0
1                     1                 0                             0
2                     1                 0                             0
3                     1                 0                             0
4                     1                 0                             0

   pdays_new_sometimes ago  y
0                        0  0
1                        0  0
2                        0  0
3                        0  0
4                        0  0

[5 rows x 44 columns]

In [11]:
df_final.to_csv('bank_data_cleaned.csv',index=False)

In [12]:
df=pd.read_csv('bank_data_cleaned.csv')
df.head()

,age,month,day_of_week,duration,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,...,housing_unknown,housing_yes,loan_unknown,loan_yes,contact_telephone,poutcome_nonexistent,poutcome_success,pdays_new_recently contacted,pdays_new_sometimes ago,y
0,56,5,1,261,1,0,1.1,93.994,-36.4,4.857,...,0,0,0,0,1,1,0,0,0,0
1,57,5,1,149,1,0,1.1,93.994,-36.4,4.857,...,0,0,0,0,1,1,0,0,0,0
2,37,5,1,226,1,0,1.1,93.994,-36.4,4.857,...,0,1,0,0,1,1,0,0,0,0
3,40,5,1,151,1,0,1.1,93.994,-36.4,4.857,...,0,0,0,0,1,1,0,0,0,0
4,56,5,1,307,1,0,1.1,93.994,-36.4,4.857,...,0,0,0,1,1,1,0,0,0,0

In [13]:
df.isnull().sum()

age                              0
month                            0
day_of_week                      0
duration                         0
campaign                         0
previous                         0
emp.var.rate                     0
cons.price.idx                   0
cons.conf.idx                    0
euribor3m                        0
nr.employed                      0
job_blue-collar                  0
job_entrepreneur                 0
job_housemaid                    0
job_management                   0
job_retired                      0
job_self-employed                0
job_services                     0
job_student                      0
job_technician                   0
job_unemployed                   0
job_unknown                      0
marital_married                  0
marital_single                   0
marital_unknown                  0
education_basic.6y               0
education_basic.9y               0
education_high.school            0
education_illiterate             0
education_professional.course    0
education_university.degree      0
education_unknown                0
default_unknown                  0
default_yes                      0
housing_unknown                  0
housing_yes                      0
loan_unknown                     0
loan_yes                         0
contact_telephone                0
poutcome_nonexistent             0
poutcome_success                 0
pdays_new_recently contacted     0
pdays_new_sometimes ago          0
y                                0
dtype: int64

In [14]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

X = df.drop('y', axis=1)
vif = pd.DataFrame()
vif['Feature'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif = vif[vif['Feature'] != 'const']
print(vif[vif['VIF'] > 10])

                         Feature           VIF
0                            age  2.642265e+01
1                          month  2.258891e+01
6                   emp.var.rate  4.137239e+01
7                 cons.price.idx  3.524204e+04
8                  cons.conf.idx  1.261605e+02
9                      euribor3m  3.592547e+02
10                   nr.employed  4.004177e+04
34               housing_unknown           inf
36                  loan_unknown           inf
39          poutcome_nonexistent  3.776616e+01
40              poutcome_success  1.301915e+01
41  pdays_new_recently contacted  1.257112e+01

In [15]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm

def compute_vif(X):
    X = sm.add_constant(X)
    vif_data = pd.DataFrame()
    vif_data['Feature'] = X.columns
    vif_data['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    return vif_data[vif_data["Feature"] != "const"].sort_values(by="VIF", ascending=False)

X = df.drop(columns=['y'])

drop_order = [
    'nr.employed','housing_unknown', 'emp.var.rate','poutcome_success', 'cons.price.idx', 'cons.conf.idx',
    'loan_unknown', 'poutcome_nonexistent',
    'pdays_new_recently contacted', 'age'
]

for col in drop_order:
    if col in X.columns:
        X.drop(columns=col, inplace=True)
        vif = compute_vif(X)
        print(f"Dropped: {col}")
        print(vif.head())
        if all(vif["VIF"] < 10):
            print("All VIFs below 10. Multicollinearity removed.")
            break

Dropped: nr.employed
             Feature        VIF
34   housing_unknown        inf
36      loan_unknown        inf
7       emp.var.rate  47.116362
10         euribor3m  40.164740
40  poutcome_success  12.581897
Dropped: housing_unknown
                         Feature        VIF
7                   emp.var.rate  47.116362
10                     euribor3m  40.164740
39              poutcome_success  12.581897
40  pdays_new_recently contacted  12.218424
6                       previous   5.975126
Dropped: emp.var.rate
                         Feature        VIF
38              poutcome_success  12.568401
39  pdays_new_recently contacted  12.198720
6                       previous   5.934629
37          poutcome_nonexistent   5.117649
29   education_university.degree   4.168104
Dropped: poutcome_success
                        Feature       VIF
6                      previous  5.470544
37         poutcome_nonexistent  4.839721
29  education_university.degree  4.167971
9                     euribor3m  3.455002
26        education_high.school  3.425603
All VIFs below 10. Multicollinearity removed.

In [16]:
# Combine back with target variable
target = df["y"]
df_no_multicollinearity = pd.concat([X, target], axis=1)

output_file = "bank_data_no_multicollinearity.csv"
df_no_multicollinearity.to_csv(output_file, index=False)
print(f"\n Cleaned dataset saved as: {output_file}")

 Cleaned dataset saved as: bank_data_no_multicollinearity.csv

In [17]:
df=pd.read_csv('bank_data_no_multicollinearity.csv')
df.head()

,age,month,day_of_week,duration,campaign,previous,cons.price.idx,cons.conf.idx,euribor3m,job_blue-collar,...,default_unknown,default_yes,housing_yes,loan_unknown,loan_yes,contact_telephone,poutcome_nonexistent,pdays_new_recently contacted,pdays_new_sometimes ago,y
0,56,5,1,261,1,0,93.994,-36.4,4.857,0,...,0,0,0,0,0,1,1,0,0,0
1,57,5,1,149,1,0,93.994,-36.4,4.857,0,...,1,0,0,0,0,1,1,0,0,0
2,37,5,1,226,1,0,93.994,-36.4,4.857,0,...,0,0,1,0,0,1,1,0,0,0
3,40,5,1,151,1,0,93.994,-36.4,4.857,0,...,0,0,0,0,0,1,1,0,0,0
4,56,5,1,307,1,0,93.994,-36.4,4.857,0,...,0,0,0,0,1,1,1,0,0,0

# **----------  SUPPORT VECTOR MACHINE(SVM)  ----------**

In [18]:
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from imblearn.ensemble import EasyEnsembleClassifier

In [19]:
X = df.drop(columns='y')
y = df['y']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [20]:
# Scale features
scaler = StandardScaler()
X_train= scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

for kernel=rbf

In [21]:
model1 = SVC(
    kernel='rbf',
    C=0.1,
    gamma='scale',
    class_weight='balanced'
)

In [22]:
# Create pipeline with scaler
pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('svm', model1)
])

# Train model
pipe.fit(X_train, y_train)

# Predict and evaluate
y_pred = pipe.predict(X_test)

In [23]:
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\n Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8411850412821759

 Classification Report:
               precision    recall  f1-score   support

           0       0.98      0.83      0.90      7308
           1       0.41      0.89      0.56       928

    accuracy                           0.84      8236
   macro avg       0.70      0.86      0.73      8236
weighted avg       0.92      0.84      0.86      8236

for kernel=poly

In [24]:
model2 = SVC(
    kernel='poly',
    C=0.9,
    gamma='scale',
    degree=3,
    coef0=0.0,
    class_weight='balanced'
)

# Create pipeline with scaler
pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('svm', model2)
])

# Train model
pipe.fit(X_train, y_train)

# Predict and evaluate
y_pred = pipe.predict(X_test)
print(" Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

 Accuracy: 0.8620689655172413

Classification Report:
               precision    recall  f1-score   support

           0       0.98      0.87      0.92      7308
           1       0.44      0.84      0.58       928

    accuracy                           0.86      8236
   macro avg       0.71      0.85      0.75      8236
weighted avg       0.92      0.86      0.88      8236

for kernel=sigmoid

In [25]:
model3 = SVC(
    kernel='sigmoid',
    C=1.0,
    gamma='scale',
    coef0=0.0,
    class_weight='balanced'
)

# Create pipeline with scaler
pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('svm', model3)
])

# Train model
pipe.fit(X_train, y_train)

# Predict and evaluate
y_pred = pipe.predict(X_test)
print(" Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

 Accuracy: 0.773069451189898

Classification Report:
               precision    recall  f1-score   support

           0       0.97      0.77      0.86      7308
           1       0.30      0.79      0.44       928

    accuracy                           0.77      8236
   macro avg       0.63      0.78      0.65      8236
weighted avg       0.89      0.77      0.81      8236

# here for KERNEL='rbf' recall is 0.89 which is maximum and Accuracy: 0.84

# **---------- K-NEAREST NEIGHBORS(KNN)  ----------**

In [26]:
!pip install optuna

Requirement already satisfied: optuna in /usr/local/lib/python3.11/dist-packages (4.4.0)
Requirement already satisfied: alembic>=1.5.0 in /usr/local/lib/python3.11/dist-packages (from optuna) (1.16.4)
Requirement already satisfied: colorlog in /usr/local/lib/python3.11/dist-packages (from optuna) (6.9.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from optuna) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from optuna) (25.0)
Requirement already satisfied: sqlalchemy>=1.4.2 in /usr/local/lib/python3.11/dist-packages (from optuna) (2.0.41)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from optuna) (4.67.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.11/dist-packages (from optuna) (6.0.2)
Requirement already satisfied: Mako in /usr/lib/python3/dist-packages (from alembic>=1.5.0->optuna) (1.1.3)
Requirement already satisfied: typing-extensions>=4.12 in /usr/local/lib/python3.11/dist-packages (from alembic>=1.5.0->optuna) (4.14.1)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=1.4.2->optuna) (3.2.3)

In [27]:
import optuna
from sklearn.metrics import recall_score, make_scorer
# Define Optuna objective function
def objective(trial):
    n_neighbors = trial.suggest_int("n_neighbors", 3, 21, step=2)
    weights = trial.suggest_categorical("weights", ["uniform", "distance"])
    algorithm = trial.suggest_categorical("algorithm", ["auto", "ball_tree", "kd_tree", "brute"])
    p = trial.suggest_int("p", 1, 2)

    pipe = Pipeline([
        ("scaler", StandardScaler()),
        ("knn", KNeighborsClassifier(
            n_neighbors=n_neighbors,
            weights=weights,
            algorithm=algorithm,
            p=p
        ))
    ])

    # Use recall as the optimization metric
    score = cross_val_score(pipe, X_train, y_train, cv=5, scoring=make_scorer(recall_score)).mean()
    return score

# Run Optuna optimization
study = optuna.create_study(direction="maximize")
study.optimize(objective, n_trials=50)

# Best model
print("Best hyperparameters:", study.best_params)
print("Best Recall (CV):", study.best_value)

[I 2025-07-27 23:41:41,175] A new study created in memory with name: no-name-b92ea701-c514-4083-b2ec-a860bcd73e70
[I 2025-07-27 23:41:54,508] Trial 0 finished with value: 0.2578814669167395 and parameters: {'n_neighbors': 21, 'weights': 'distance', 'algorithm': 'brute', 'p': 2}. Best is trial 0 with value: 0.2578814669167395.
[I 2025-07-27 23:43:15,466] Trial 1 finished with value: 0.21395957961640177 and parameters: {'n_neighbors': 17, 'weights': 'uniform', 'algorithm': 'ball_tree', 'p': 1}. Best is trial 0 with value: 0.2578814669167395.
[I 2025-07-27 23:44:34,877] Trial 2 finished with value: 0.25761156236282573 and parameters: {'n_neighbors': 15, 'weights': 'uniform', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 0 with value: 0.2578814669167395.
[I 2025-07-27 23:45:18,529] Trial 3 finished with value: 0.22042459178750096 and parameters: {'n_neighbors': 19, 'weights': 'distance', 'algorithm': 'brute', 'p': 1}. Best is trial 0 with value: 0.2578814669167395.
[I 2025-07-27 23:46:49,678] Trial 4 finished with value: 0.2309345445179265 and parameters: {'n_neighbors': 15, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 1}. Best is trial 0 with value: 0.2578814669167395.
[I 2025-07-27 23:47:51,719] Trial 5 finished with value: 0.2794386420608519 and parameters: {'n_neighbors': 9, 'weights': 'uniform', 'algorithm': 'ball_tree', 'p': 2}. Best is trial 5 with value: 0.2794386420608519.
[I 2025-07-27 23:48:55,396] Trial 6 finished with value: 0.27377608805273296 and parameters: {'n_neighbors': 13, 'weights': 'distance', 'algorithm': 'ball_tree', 'p': 2}. Best is trial 5 with value: 0.2794386420608519.
[I 2025-07-27 23:49:39,775] Trial 7 finished with value: 0.22150566110290834 and parameters: {'n_neighbors': 13, 'weights': 'uniform', 'algorithm': 'brute', 'p': 1}. Best is trial 5 with value: 0.2794386420608519.
[I 2025-07-27 23:50:57,227] Trial 8 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:52:03,330] Trial 9 finished with value: 0.27269973481152027 and parameters: {'n_neighbors': 7, 'weights': 'distance', 'algorithm': 'ball_tree', 'p': 1}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:52:11,360] Trial 10 finished with value: 0.31824286331003104 and parameters: {'n_neighbors': 5, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:52:18,018] Trial 11 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:52:25,937] Trial 12 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:52:32,657] Trial 13 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:53:55,257] Trial 14 finished with value: 0.29964810831008554 and parameters: {'n_neighbors': 7, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:54:02,023] Trial 15 finished with value: 0.2931794683896058 and parameters: {'n_neighbors': 9, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:55:20,250] Trial 16 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:56:42,854] Trial 17 finished with value: 0.2931794683896058 and parameters: {'n_neighbors': 9, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:56:49,587] Trial 18 finished with value: 0.30423285797723953 and parameters: {'n_neighbors': 5, 'weights': 'uniform', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:58:10,656] Trial 19 finished with value: 0.31824286331003104 and parameters: {'n_neighbors': 5, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:58:54,402] Trial 20 finished with value: 0.24818267894780757 and parameters: {'n_neighbors': 11, 'weights': 'distance', 'algorithm': 'auto', 'p': 1}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:59:02,386] Trial 21 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:59:09,080] Trial 22 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:59:17,052] Trial 23 finished with value: 0.29964810831008554 and parameters: {'n_neighbors': 7, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:59:24,162] Trial 24 finished with value: 0.31824286331003104 and parameters: {'n_neighbors': 5, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-27 23:59:31,680] Trial 25 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:00:53,864] Trial 26 finished with value: 0.2869865374220487 and parameters: {'n_neighbors': 7, 'weights': 'uniform', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:01:02,153] Trial 27 finished with value: 0.31824286331003104 and parameters: {'n_neighbors': 5, 'weights': 'distance', 'algorithm': 'brute', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:01:10,063] Trial 28 finished with value: 0.2826698784341182 and parameters: {'n_neighbors': 11, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:01:16,955] Trial 29 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'brute', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:02:34,117] Trial 30 finished with value: 0.31824286331003104 and parameters: {'n_neighbors': 5, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:02:42,036] Trial 31 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:02:49,032] Trial 32 finished with value: 0.2578814669167395 and parameters: {'n_neighbors': 21, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:02:56,925] Trial 33 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:03:03,859] Trial 34 finished with value: 0.30423285797723953 and parameters: {'n_neighbors': 5, 'weights': 'uniform', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:04:12,831] Trial 35 finished with value: 0.22042459178750096 and parameters: {'n_neighbors': 19, 'weights': 'distance', 'algorithm': 'ball_tree', 'p': 1}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:04:19,934] Trial 36 finished with value: 0.29964810831008554 and parameters: {'n_neighbors': 7, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:06:00,954] Trial 37 finished with value: 0.34168828200672585 and parameters: {'n_neighbors': 3, 'weights': 'uniform', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:06:46,212] Trial 38 finished with value: 0.2309345445179265 and parameters: {'n_neighbors': 15, 'weights': 'distance', 'algorithm': 'brute', 'p': 1}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:07:50,794] Trial 39 finished with value: 0.2931794683896058 and parameters: {'n_neighbors': 9, 'weights': 'distance', 'algorithm': 'ball_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:07:57,565] Trial 40 finished with value: 0.30423285797723953 and parameters: {'n_neighbors': 5, 'weights': 'uniform', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:09:22,275] Trial 41 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:10:42,640] Trial 42 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:12:04,760] Trial 43 finished with value: 0.26165396349758574 and parameters: {'n_neighbors': 17, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:13:24,137] Trial 44 finished with value: 0.31824286331003104 and parameters: {'n_neighbors': 5, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:14:43,032] Trial 45 finished with value: 0.3476167500444399 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:15:46,896] Trial 46 finished with value: 0.29964810831008554 and parameters: {'n_neighbors': 7, 'weights': 'distance', 'algorithm': 'ball_tree', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:17:12,176] Trial 47 finished with value: 0.3230953408814705 and parameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 1}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:17:18,957] Trial 48 finished with value: 0.31824286331003104 and parameters: {'n_neighbors': 5, 'weights': 'distance', 'algorithm': 'auto', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.
[I 2025-07-28 00:17:26,928] Trial 49 finished with value: 0.2869865374220487 and parameters: {'n_neighbors': 7, 'weights': 'uniform', 'algorithm': 'brute', 'p': 2}. Best is trial 8 with value: 0.3476167500444399.

Best hyperparameters: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'kd_tree', 'p': 2}
Best Recall (CV): 0.3476167500444399

In [21]:
knn = KNeighborsClassifier(
    n_neighbors=3,
    weights='distance',
    algorithm='kd_tree',
    p=2
)

# Create pipeline with scaler
pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('svm', knn)
])

# Train model
pipe.fit(X_train, y_train)

# Predict and evaluate
y_pred = pipe.predict(X_test)
print(" Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

 Accuracy: 0.8936376881981545

Classification Report:
               precision    recall  f1-score   support

           0       0.92      0.96      0.94      7308
           1       0.54      0.38      0.44       928

    accuracy                           0.89      8236
   macro avg       0.73      0.67      0.69      8236
weighted avg       0.88      0.89      0.89      8236

In [22]:
knn1 = KNeighborsClassifier(
    n_neighbors=1,
    weights='uniform',
    algorithm='auto',
    leaf_size=30,
    p=2,
    metric='minkowski'
)

In [23]:
# Train and predict
knn1.fit(X_train, y_train)
y_pred = knn1.predict(X_test)

# Evaluate
print(confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

[[6858  450]
 [ 542  386]]

Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.94      0.93      7308
           1       0.46      0.42      0.44       928

    accuracy                           0.88      8236
   macro avg       0.69      0.68      0.69      8236
weighted avg       0.87      0.88      0.88      8236

In [24]:
knn2 = KNeighborsClassifier(
    n_neighbors=1,
    weights='distance',
    algorithm='kd_tree',
    p=2,
    metric='euclidean'
)
# Train and predict
knn2.fit(X_train, y_train)
y_pred = knn2.predict(X_test)

In [25]:
print(confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

[[6858  450]
 [ 542  386]]

Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.94      0.93      7308
           1       0.46      0.42      0.44       928

    accuracy                           0.88      8236
   macro avg       0.69      0.68      0.69      8236
weighted avg       0.87      0.88      0.88      8236

In [26]:
knn3 = KNeighborsClassifier(
    n_neighbors=3,
    weights='distance',
    algorithm='ball_tree',
    leaf_size=30,
    p=1,
    metric='minkowski'
)
# Train and predict
knn3.fit(X_train, y_train)
y_pred = knn3.predict(X_test)

print(confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

[[7033  275]
 [ 597  331]]

Classification Report:
               precision    recall  f1-score   support

           0       0.92      0.96      0.94      7308
           1       0.55      0.36      0.43       928

    accuracy                           0.89      8236
   macro avg       0.73      0.66      0.69      8236
weighted avg       0.88      0.89      0.88      8236

balanced

In [27]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

In [28]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_resampled)
X_test_scaled = scaler.transform(X_test)

knn.fit(X_train_scaled, y_train_resampled)
y_pred = knn.predict(X_test_scaled)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.89      0.92      7308
           1       0.41      0.59      0.48       928

    accuracy                           0.86      8236
   macro avg       0.68      0.74      0.70      8236
weighted avg       0.88      0.86      0.87      8236